html, body{

	font-family: Georgia;

}

body{
	border-radius: 15px;
	background: url('images/stardust.png');
}

#header{
	width: 100%;
	height: 10%;
	margin-bottom: .5%;
	
}

#header h1{
	position: relative;
	top: 15px;
	left: 45px;
	color: #FFFFFF;
	border: black;
}


.textArea{
	height: 50%;
	width: 60%;
	background-color: #F5FAFA;
	color: #000000;
	/*margin-right: 2%;*/
	overflow:auto;
}

#twitterFeed{
	width: 35%;
	height: 310%;
	background-color: #333333;
	margin-left: 63%;
	border-radius: 5px;
	right: 0;
	top: 0;
}

#twitter{
	margin-left: .75%;
}

#downloadArea{
	width:98.5%;
	height:25%;
	border-radius: 5px;
	margin-left: .75%;
	margin: 0 auto;
	background-color: #F5FAFA;
}

#downloadArea p{
	margin-left: 3%;
	padding-left: 1%;
	padding-top: 2%;
}

#LinkedIn{
	margin-top: 2.5%;
	text-align: center;
}



.textAreaParagraph{
	margin-left: 3%;
	padding-left: 1%;
}

.textAreaHeading{
	margin-left: 3%;
}

.textAreaBigHeading{
	margin-left: 1%;
}


#navbar, .textArea{
	float: left;
}

#header, #navBar, .textArea{
	border-radius: 15px;
}

.textArea{
	margin-left: 1.1%;
	margin-bottom: 1%;
}


.container{
	height: 100%;
	padding-bottom: 3000px;
}
